@inherits LayoutComponentBase

<div class="ui-app-shell">
    <header class="ui-app-header">
        <div class="ui-app-header-inner">
            <NavMenu />
        </div>
    </header>

    <main class="ui-app-main">
        <article class="ui-app-content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
