<div class="flex flex-col gap-4 lg:flex-row lg:items-center lg:justify-between">
    <a class="text-lg font-semibold tracking-[0.2em] text-white uppercase" href="">Spx</a>

    <nav class="flex flex-wrap items-center gap-3 lg:justify-end">
        <NavLink class="ui-nav-pill" href="" Match="NavLinkMatch.All">
            Lobby Home
        </NavLink>

        <AuthorizeView>
            <Authorized>
                <NavLink class="ui-nav-pill" href="/games">
                    My Games
                </NavLink>
                <NavLink class="ui-nav-pill" href="/games/create">
                    Create Game
                </NavLink>
                <NavLink class="ui-nav-pill" href="/games/join">
                    Join Game
                </NavLink>
                <form method="post" action="/account/logout" class="contents">
                    <AntiforgeryToken />
                    <button class="ui-nav-pill-danger" type="submit">
                        Sign out
                    </button>
                </form>
            </Authorized>
            <NotAuthorized>
                <NavLink class="ui-nav-pill" href="/login">
                    Sign in
                </NavLink>
                <NavLink class="ui-nav-pill" href="/register">
                    Register
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

