@using Spx.Nexus.Domain

<span>
    <NexusSystemBadge Coord="Event.System"
                       CurrentPlayer="@Context.CurrentPlayer"
                       Opponent="@Context.Opponent" />
    is contested
</span>

@code {
    [Parameter, EditorRequired]
    public NexusSystemContestedEvent Event { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventRowContext Context { get; set; } = default!;
}
